
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #fee9c5;
    color: #3d1f16;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background: #3d1f16;
    height: 50px;
    
}
nav a{
    text-align: center;
    text-decoration: none;
    color: #fee9c5;
    padding: 25px;
}

.logo{
    max-width: 150px;
}
.title_box{
    display: flex;
    background: #fee9c5;
}

.title_box h1{
    margin: auto auto;
    font-size: 5em;
}
h1{
    font-family: "Boldonse", sans-serif;

}
a, p, table, li{
    font-family: "Playwrite DE Grund", cursive;
}
div.scroll_bar{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        background:#fd944d;
        padding: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        border: 5px solid #3d1f16;
}
section{
    width: 500px;
    padding: 10px;
    margin: 50px;
    background: #ffb756;
}
.table{
    font-size: 1.25em;
    color: #fee9c5;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 3em;

}
table{
    border-collapse: collapse;

}
td, th{
    border: 2px solid #ffb756;
    padding: .5em 1em;
}

footer{
    display:flex;
    flex-direction: column;
    background: #3d1f16;
    color: #fee9c5;
}
footer p{
    margin-top: auto;
    padding-left: 2em;
}
form{
    padding-left: 1em;
    font-size: 2em;
    padding-bottom: 1em;
    display: flex;
}
label, input{
    margin-right: 1em;

}

#sub-box{
    background: #ffb756;
    color: #3d1f16;
    padding: 5px
}
#Comment{
    background: #fee9c5;
    width:350px ;
}